<#@ template debug="true" hostSpecific="true" #>
<#@ include file="EventToCommandGenerator.ttinclude" #>
<# 
	Generate(
		new EventToCommands("RedSheeps.Wpf.EventToCommand")
			.Add("System.Windows.Window", "Loaded", "")
			.Add("System.Windows.Window", "DragEnter", "RoutedEvent.Name")
			//.Add("System.Windows.Window", "DragEnter", "RoutedEvent.Name.NotExists")
	);
#>